################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PizzaProblem/PizzaProblem/PizzaProblem.VC.db
/PizzaProblem/PizzaProblem/PizzaProblem.VC.VC.opendb
